@use '../../../styles/common';
@use '../../../styles/mixins' as mixins;
@use '../../../styles/variables' as vars;

.custombutton {
  @include mixins.setwidthandheight(auto, 50px);
  @extend %pointer;
  @extend %rowflex;
  @extend %defaulttransition;
  margin-right: 35px;
  min-width: 165px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 11px;
  background-color: vars.$orange;
  color: white;
  border: none;
  justify-content: center;
  font-family: Roboto;
  font-size: 11pt;

  &:hover {
    background-color: black;
    color: white;
  }

  &:focus,
  &:active {
    outline: none;
  }

  &.abort {
    background-color: red;
    color: white;
    border: 2px solid red;

    &:hover {
      background-color: black;
      border: 2px solid black;
      color: white;
    }
  }

  &.inverted {
    background-color: transparent;
    color: white;
    border: 2px solid white;

    &:hover {
      background-color: vars.$orange;
      border: 2px solid vars.$orange;
      color: white;
    }
  }

  &.transparent {
    background-color: transparent;
    color: black;
    border: 2px solid black;

    &:hover {
      background-color: black;
      border: 2px solid black;
      color: white;
    }
  }
}
