@mixin animation($type, $sec) {
  -webkit-transition: $type $sec;
  -moz-transition: $type $sec;
  -o-transition: $type $sec;
  -ms-transition: $type $sec;
  transition: $type $sec;
}

@mixin setwidthandheight($width, $height) {
  width: $width;
  height: $height;
}
