@use '../../styles/common';
@use '../../styles/mixins' as mixins;

.request-call-bgimage-bg {
  @include mixins.setwidthandheight(100vw, 100vh);
  max-width: 100%;
  background: rgba(0, 0, 0, 0.65) url('/images/mainimage.png');
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;

  .request-call-container {
    @extend %fullwidth;
    @extend %fullheight;
    @extend %rowflex;
    padding: 0 8%;
    position: absolute;

    .request-call-text {
      @include mixins.setwidthandheight(504px, fit-content);
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;

      h1,
      h3 {
        color: white;
      }

      h1 {
        font-size: 30pt;
        line-height: 75px;
        letter-spacing: 3px;
      }

      h3 {
        font-size: 16pt;
        line-height: 40px;
        letter-spacing: 1px;
        font-weight: normal;
      }

      .button-container {
        @extend %fullwidth;
        @extend %rowflex;
      }
    }
  }
}
